In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("../Table 1.xlsx")

In [3]:
df1 = df.iloc[:,:5]
df2 = df.iloc[:,5:10]
df2.columns=df1.columns.values
df3 = df.iloc[:,10:15]
df3.columns=df1.columns.values
df4 = df.iloc[:,15:20]
df4.columns=df1.columns.values
df_concatenado = pd.concat([df1, df2, df3, df4], axis=0, ignore_index=True)
df = df_concatenado.drop(df_concatenado.index[-1])
df = df.drop(df.columns[0], axis=1)
df['subject ID'] = df['subject ID'].astype(int)
df.columns=["subject ID","1","2","3"]

In [4]:
df.head()

   subject ID     1     2     3
0           2  0.98  0.96  0.92
1           3  0.69  0.80  0.81
2           6  0.58  0.59  0.64
3           8  0.96  0.85  0.87
4           9  0.65  0.67  0.87

In [5]:
df_hypertension = pd.read_excel("./Data File/PPG-BP dataset.xlsx")

In [6]:
df["Hypertension"]=df_hypertension["Hypertension"]
df.tail()

     subject ID     1     2     3     Hypertension
214         415  1.15  1.38  1.19           Normal
215         416  0.96  0.94  1.01           Normal
216         417  1.12  1.32  1.38  Prehypertension
217         418  0.96  0.87  1.06           Normal
218         419  1.13  1.00  0.81           Normal

In [25]:
len(df)

219

In [31]:
data_list = []

for ID in range(len(df)-1):
    for segment in range(3):
        file_name = f'{df["subject ID"][ID]}_{(segment+1)}'
        #print(f'{df["subject ID"][ID]}_{(segment+1)}')
        # Leer el fichero de datos PPG (suponiendo que están en formato CSV, por ejemplo)
        data =  pd.read_csv(f"./Data File/0_subject/{file_name}.txt", delimiter="\t", header=None)
    
        # Añadir los datos a la lista
        data_list.append(data)

In [36]:
data =  pd.read_csv(f"./Data File/0_subject/419_1.txt", delimiter="\t", header=None)
    
# Añadir los datos a la lista
data_list.append(data)

In [37]:
data =  pd.read_csv(f"./Data File/0_subject/419_2.txt", delimiter="\t", header=None)
    
# Añadir los datos a la lista
data_list.append(data)

In [38]:
data =  pd.read_csv(f"./Data File/0_subject/419_3.txt", delimiter="\t", header=None)
    
# Añadir los datos a la lista
data_list.append(data)

In [39]:
# Concatenar todos los ficheros en un solo DataFrame
dataset_ppg = pd.concat(data_list, axis=0)
# Opcionalmente, restablecer el índice si es necesario
dataset_ppg.reset_index(drop=True, inplace=True)
#Como hay valores con el doble de muestras, eliminamos el exceso de señal ya que la mayoría tiene 2100 columnas -> waveform data was set to a sampling rate of 1 kHz, with 12 bits AD conversion precision
#dataset_ppg[dataset_ppg.iloc[:,4196].notna()]
#df.iloc[179,:]
dataset_ppg = dataset_ppg.iloc[:, :2100]
len(dataset_ppg)

657

In [40]:
dataset_ppg.to_pickle('set_PPG_signals.pkl')

In [68]:
X_train = dataset_ppg.iloc[:460,:]
X_test = dataset_ppg.iloc[460:,:]

In [69]:
X_train.to_pickle('X_train.pkl')
X_test.to_pickle('X_test.pkl')

In [7]:
clinical_list = []

for ID in range(len(df)):
    file_name = f'{df["Hypertension"][ID]}'
    # Añadir los datos a la lista por factor de 3
    clinical_list.append(file_name)
    clinical_list.append(file_name)
    clinical_list.append(file_name)

clinical_data = pd.DataFrame(clinical_list)
clinical_data.head()

                      0
0  Stage 2 hypertension
1  Stage 2 hypertension
2  Stage 2 hypertension
3  Stage 2 hypertension
4  Stage 2 hypertension

In [10]:
Y_train = clinical_data.iloc[:460] == 'Normal'
Y_test = clinical_data.iloc[460:] == 'Normal'

In [11]:
Y_train.to_pickle('Y_train.pkl')
Y_test.to_pickle('Y_test.pkl')